Nicht erledigte Todos:
<ul>
  <li *ngFor="let todo of onlyDoneTodo()">
    {{todo.title}} {{todo.done ? 'Ja' : 'Nein'}}
    <button (click)="done(todo.id)">Done</button>
    <button (click)="delteTodo(todo.id)">Remove</button>
  </li>
</ul>

Erledigte Todos:
<ul>
  <li *ngFor="let todo of doneTodo()">
    {{todo.title}} {{todo.done ? 'Ja' : 'Nein'}}
    <button (click)="undone(todo.id)">Undone</button>
  </li>
</ul>

<input type="text" [(ngModel)]="myModel"/>
<button (click)="addTodo()">add todo</button>
<br />
<button (click)="replaceAll()">replace</button>
